.row div{
    margin:0.25rem;
}
.col{
    background-color: aqua;
}
.col-sm{
    background-color: gold;
}
.col-md{
    background-color:mediumturquoise;
}
.col-lg{
    background-color:hotpink;
}
.col-xl{
    background-color: lightpink;
}